<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SneakerBot.WebScraping.Service.WebURLs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SneakerBot.WebScraping.Service.WebURLs>
            <setting name="Rebel" serializeAs="String">
                <value>http://www.rebelsport.com.au/store/footwear/1?page=1&amp;pageSize=12&amp;sort=-ProductSummaryPurchasesWeighted%2C-ProductSummaryPurchases&amp;gclid=EAIaIQobChMI3JjU_L781wIVECQrCh07uQbGEAAYASACEgJO1vD_BwE&amp;gclsrc=aw.ds</value>
            </setting>
            <setting name="AIOBot" serializeAs="String">
                <value>https://aiobot.com/releases</value>
            </setting>
        </SneakerBot.WebScraping.Service.WebURLs>
    </applicationSettings>
</configuration>