<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- API Server URL, required -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.sandbox.ebay.com/wsapi" />
    <!-- User token for Ebay API server access, required -->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**RinWWQ**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GnCZiCpAidj6x9nY+seQ**ZFgEAA**AAMAAA**KefcpLlOfK3Z8NazbDN/Tp37VQUxZD9xVUzgoIy5xmlH7Tsqs+rQLfVTju4pK0vdAdkimAAUq9kV3smTcYykQcdKHbmmoEQl0SsMqh+wF1uVVeaFwcexEhWTvZLDg1k6IpSpnqLUGqO7n2RjEPMnjPscftSbk/m75YSRO4xFE4+QqBIccVFNSvvtfAmeDxmAg+/5GvZk/0wfyDLieAZPblHFL8ipTwW+mpuFZ04Y4Kx1G8PsKqcgU2Jub8CXd2Clr+59swtYBUds6hfBO+6J7k/2sTAdPsYnb65D3C5vVjorCyapkmm1yG+QeT/eAjIqqkP2i9J8WVNy7rtP+t5ei1rpQBG4FDJ6jm2rd/1Gf5Bb1MaGey7+6oq+EUgmvDMw/PQtQhOnEoccZcwODiQ/EcpkQvAYwbd6v8ABACXkJE8jrpRl+QMFpZ3OQC794ugkbU4ArLnhA2SPe+q+PMkNskcblHc2Ea4nwsunUQz7BG6qXaotsuKrd4sH6ltasaidH3prkEQ5TbtlH+bhrIXx8HRcYCIA2bJDWOQXLKOsFCEfnHZRc9q32bsjAF0vxS/XhtLDRcP+zPy/MwtU6wvd/dlsJNZ0Suc36qQJjUP5mNzJsDKlBGtwrsK2PGeVZdnF7KTtbb9Dj0mF/UKeNt0Z+5orQJw7ITX4CeHem9Lhof2Q8CTTw50p4Sa2jGQlCFWMTI9hhao5mRjkQliTFE+8iRNXDbfub2jWsGoGWklKwHAwoyw0g4uxjilAmOnfegot" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.4" newVersion="1.4.9.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>